---
title: vaughn wright design studio
---

<header>
  <h1><%= current_page.data.title %></h1>
</header>
<section id="showcase">
  <%= image_tag lorem.image('300x400') %>
  <%= image_tag lorem.image('300x400') %>
  <%= image_tag lorem.image('300x400') %>
</section>
<div id="vwdsdesc">
  <p><strong>vaughn wright design studio</strong> is a landscape architecture firm dedicated to producing high end designs that are both functional and aesthetically pleasing. The team will work with you to make sure your needs are met and that you have the highest quality of design.</p>
</div>
<footer>
  <p>site courtesy of <%= link_to '@developerwarren', "https://twitter.com/DeveloperWarren" %></p>
</footer>
